<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-image-heading" jhiTranslate="movientsApp.image.home.createOrEditLabel">Create or edit a Image</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!image.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="image.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="movientsApp.image.medium" for="field_medium">Medium</label>
                    <input type="text" class="form-control" name="medium" id="field_medium"
                        [(ngModel)]="image.medium" maxlength="1024"/>
                    <div [hidden]="!(editForm.controls.medium?.dirty && editForm.controls.medium?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.medium?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1024 }">
                        This field cannot be longer than 1024 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="movientsApp.image.large" for="field_large">Large</label>
                    <input type="text" class="form-control" name="large" id="field_large"
                        [(ngModel)]="image.large" maxlength="1024"/>
                    <div [hidden]="!(editForm.controls.large?.dirty && editForm.controls.large?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.large?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1024 }">
                        This field cannot be longer than 1024 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="movientsApp.image.type" for="field_type">Type</label>
                    <select class="form-control" name="type" [(ngModel)]="image.type" id="field_type" >
                        <option value="COVER">{{'movientsApp.ImageType.COVER' | translate}}</option>
                        <option value="SCREENSHOT">{{'movientsApp.ImageType.SCREENSHOT' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="movientsApp.image.movie" for="field_movie">Movie</label>
                    <select class="form-control" id="field_movie" name="movie" [(ngModel)]="image.movieId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="movieOption.id" *ngFor="let movieOption of movies; trackBy: trackMovieById">{{movieOption.title}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
